@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&family=Roboto:wght@100;400;900&display=swap');

body {
    font-family: 'Roboto', 'Quicksand', sans-serif;
    background-color: white;
    color:#3d3e3f;
    margin: 0px;
}

/* Header section space-between separates left and right */
.header {
    background-color: #3d3e3f;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

/* chain class selectors */
.left, .right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

/* this removes the line under our links */
a {
    text-decoration: none;
    color: white;
}

/* this removes the bullet point and flex allows them to be on the same row*/
ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0px;
    padding: 0px;
}

/* About Section */

.about-container {
    display: flex;
    justify-content: space-between;
}

.about {
    display: flex;
    background-color:#3d3e3f;
    color: #adafaf;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.about-cta {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    align-items: flex-start;
}

.about-header {
    color: white;
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 10px;
}

.about-description {
    padding-bottom: 15px;
}

.about button {
    background-color: #777878;
    color: white;
    border: white;
    border-radius: 8px;
    width: auto;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
}

/* Services Section */

.services-container {
    align-items: center;
    text-align: center;
    background-color: white;
    color: #3d3e3f;
    padding-top: 20px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px white;
}

.services img {
    border: 4px solid #3d3e3f;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 5px 20px 0px 20px;
}

/* Testimonials Section */

.testimonial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    background-color:#e9e9e9;
}

.testimonial {
    color: #3d3e3f;
    margin: 0px;
    padding: 0px 150px;
    font-weight: lighter;
}

.testimonial-container p {
    text-align: center;
    font-weight: bold;
}

/* Contact Section */

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
    font-size: small;
    font-weight: light;
    background-color: #a0a3a3;
    padding: 20px 60px;
    margin: 20px 90px;
}

.contact-button button {
    background-color: white
    border: white;
    border-radius: 8px;
    width: auto;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center; 
}

/* Footer */

footer {
    background-color: #3d3e3f;
    color: white;
    font-size: x-small;
    padding: 20px;
    text-align: center;
}